:root {
    will-change: transform;
    --skin: url("https://i.imgur.com/x4v423m.png");
}

/* ===============================
   화면 중앙 정렬
   =============================== */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3d {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===============================
   3D Scene (scale / rotate는 JS에서)
   =============================== */
.scene {
    position: relative;
    transform-style: preserve-3d;
    height: fit-content;
    image-rendering: pixelated;
}

    .scene > * {
        transform-style: preserve-3d;
    }

    /* ===============================
   공통 face 설정
   =============================== */
    .scene div div {
        position: absolute;
        width: 100%;
        height: 100%;
    }

        .scene div div::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            scale: 1.125;
        }

    .scene[data="url"] div div,
    .scene[data="url"] div div::after {
        background-image: var(--skin);
    }

/* ===============================
   HEAD
   =============================== */
.head {
    width: 8px;
    height: 8px;
}

#head-front {
    background-position: 56px 56px;
    transform: translateZ(4px);
}

    #head-front::after {
        background-position: 24px 56px;
        transform: translateZ(0.5px);
    }

#head-back {
    background-position: 40px 56px;
    transform: rotateY(180deg) translateZ(4px);
}

    #head-back::after {
        background-position: 8px 56px;
        transform: translateZ(0.5px);
    }

#head-left {
    background-position: 48px 56px;
    transform: rotateY(90deg) translateZ(4px);
}

    #head-left::after {
        background-position: 16px 56px;
        transform: translateZ(0.5px);
    }

#head-right {
    background-position: 64px 56px;
    transform: rotateY(-90deg) translateZ(4px);
}

    #head-right::after {
        background-position: 32px 56px;
        transform: translateZ(0.5px);
    }

#head-top {
    background-position: 56px 64px;
    transform: translateY(-4px) rotateX(90deg);
}

    #head-top::after {
        background-position: 24px 64px;
        transform: translateZ(0.5px);
    }

#head-bottom {
    background-position: 48px 64px;
    transform: translateY(4px) rotateX(270deg) rotate(180deg);
}

    #head-bottom::after {
        background-position: 16px 64px;
        transform: translateZ(0.5px);
    }

/* ===============================
   BODY
   =============================== */
.body {
    width: 8px;
    height: 12px;
}

#body-front {
    background-position: 44px 44px;
    transform: translateZ(2px);
}

    #body-front::after {
        background-position: 44px 28px;
        transform: translateZ(0.5px);
    }

#body-back {
    background-position: 32px 44px;
    transform: rotateY(180deg) translateZ(2px);
}

    #body-back::after {
        background-position: 32px 28px;
        transform: translateZ(0.5px);
    }

#body-left {
    width: 4px;
    background-position: 36px 44px;
    transform: rotateY(90deg) translateZ(6px);
}

    #body-left::after {
        content: none;
    }

#body-right {
    width: 4px;
    background-position: 48px 44px;
    transform: rotateY(-90deg) translateZ(2px);
}

    #body-right::after {
        content: none;
    }

#body-bottom {
    width: 8px;
    height: 4px;
    background-position: 36px 48px;
    transform: translateY(10px) rotateX(270deg);
}

    #body-bottom::after {
        display: none;
    }

/* ===============================
   LEFT SLIM ARM
   =============================== */
.left-slim-arm {
    position: absolute;
    width: 3px;
    height: 12px;
    transform: translateX(8px) translateY(-12px);
}

#left-slim-arm-front {
    background-position: 28px 12px;
    transform: translateZ(2px);
}

    #left-slim-arm-front::after {
        background-position: 12px 12px;
        transform: translateZ(0.3px);
    }

#left-slim-arm-back {
    background-position: 21px 12px;
    transform: rotateY(180deg) translateZ(2px);
}

    #left-slim-arm-back::after {
        background-position: 8px 12px;
        transform: translateZ(0.3px);
    }

#left-slim-arm-left {
    width: 4px;
    background-position: 25px 12px;
    transform: rotateY(90deg) translateZ(1px);
}

    #left-slim-arm-left::after {
        background-position: 9px 12px;
        transform: translateZ(0.15px);
    }

#left-slim-arm-top {
    width: 3px;
    height: 4px;
    background-position: 28px 16px;
    transform: translateY(-2px) rotateX(90deg);
}

    #left-slim-arm-top::after {
        background-position: 12px 16px;
        transform: translateZ(0.7px);
    }

#left-slim-arm-bottom {
    width: 3px;
    height: 4px;
    background-position: 25px 16px;
    transform: translateY(10px) rotateX(270deg);
}

    #left-slim-arm-bottom::after {
        background-position: 14px 16px;
        transform: translateZ(0.7px);
    }

/* ===============================
   RIGHT SLIM ARM
   =============================== */
.right-slim-arm {
    position: absolute;
    width: 3px;
    height: 12px;
    transform: translateX(-3px) translateY(-12px);
}

#right-slim-arm-front {
    background-position: 20px 44px;
    transform: translateZ(2px);
}

    #right-slim-arm-front::after {
        background-position: 20px 28px;
        transform: translateZ(0.3px);
    }

#right-slim-arm-back {
    background-position: 13px 44px;
    transform: rotateY(180deg) translateZ(2px);
}

    #right-slim-arm-back::after {
        background-position: 13px 28px;
        transform: translateZ(0.3px);
    }

#right-slim-arm-right {
    width: 4px;
    background-position: 17px 44px;
    transform: rotateY(270deg) translateZ(2px);
}

    #right-slim-arm-right::after {
        background-position: 17px 28px;
        transform: translateZ(0.15px);
    }

#right-slim-arm-top {
    width: 3px;
    height: 4px;
    background-position: 20px 48px;
    transform: translateY(-2px) rotateX(90deg);
}

    #right-slim-arm-top::after {
        background-position: 20px 32px;
        transform: translateZ(0.7px);
    }

#right-slim-arm-bottom {
    width: 3px;
    height: 4px;
    background-position: 17px 48px;
    transform: translateY(10px) rotateX(270deg);
}

    #right-slim-arm-bottom::after {
        background-position: 17px 32px;
        transform: translateZ(0.7px);
    }

/* ===============================
   LEFT LEG
   =============================== */
.left-leg {
    position: absolute;
    width: 4px;
    height: 12px;
    transform: translateX(4px);
}

#left-leg-front {
    background-position: 44px 12px;
    transform: translateZ(2px);
}

    #left-leg-front::after {
        background-position: 60px 12px;
        transform: translateZ(0.3px);
    }

#left-leg-back {
    background-position: 36px 12px;
    transform: rotateY(180deg) translateZ(2px);
}

    #left-leg-back::after {
        background-position: 52px 12px;
        transform: translateZ(0.3px);
    }

#left-leg-left {
    background-position: 40px 12px;
    transform: rotateY(90deg) translateZ(2px);
}

    #left-leg-left::after {
        background-position: 56px 12px;
        transform: translateZ(0.15px);
    }

#left-leg-top {
    height: 4px;
    background-position: 44px 16px;
    transform: translateY(-2px) rotateX(90deg);
}

    #left-leg-top::after {
        display: none;
    }

#left-leg-bottom {
    height: 4px;
    background-position: 40px 16px;
    transform: translateY(10px) rotateX(270deg);
}

    #left-leg-bottom::after {
        background-position: 56px 16px;
        transform: translateZ(0.7px);
    }

/* ===============================
   RIGHT LEG
   =============================== */
.right-leg {
    position: absolute;
    width: 4px;
    height: 12px;
}

#right-leg-front {
    background-position: 60px 44px;
    transform: translateZ(2px);
}

    #right-leg-front::after {
        background-position: 60px 28px;
        transform: translateZ(0.3px);
    }

#right-leg-back {
    background-position: 52px 44px;
    transform: rotateY(180deg) translateZ(2px);
}

    #right-leg-back::after {
        background-position: 52px 28px;
        transform: translateZ(0.3px);
    }

#right-leg-right {
    background-position: 64px 44px;
    transform: rotateY(270deg) translateZ(2px);
}

    #right-leg-right::after {
        background-position: 64px 28px;
        transform: translateZ(0.15px);
    }

#right-leg-top {
    height: 4px;
    background-position: 60px 48px;
    transform: translateY(-2px) rotateX(90deg);
}

    #right-leg-top::after {
        display: none;
    }

#right-leg-bottom {
    height: 4px;
    background-position: 56px 48px;
    transform: translateY(10px) rotateX(270deg);
}

    #right-leg-bottom::after {
        background-position: 56px 32px;
        transform: translateZ(0.7px);
    }
